body {
    display: flex;
    justify-content: center;
}

.calculator-body {
    background-color: lightgray;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screen {
    background-color: lightblue;
    width: 260px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 32px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
    padding: 30px 20px;
}

.btn {
    height: calc(224px / 4);
    width: calc(200px / 4);
}